:root {
    --mainColor : #909C6C;
    --secondaryColor: #383414;
    --acsentColor: #F0F0F0;
}
body{
    background-color: var(--mainColor);
 /*   width: 1280px;
    height: 720px; */
    font-family: 'poppins',sans-serif;
}
/* Navbar */
.navbar{
  margin-top: 16px;
  font-size: 16px;
}
.nav-link{
  color: var(--acsentColor) !important;
}
.nav-link.active{
  color:var(--secondaryColor) !important;
  font-weight: 600;
}
.btn-primary, 
.btn-primary:hover {
  font-size: 16px;
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}
.btn-primary:active,
        .btn-primary:focus {
            color: #fff;
            background-color: var(--secondaryColor) !important;
            border-color: var(--secondaryColor) !important;
            box-shadow: 0 0 0 0.2rem #383414 !important;
        }

.navbar-nav, .nav-item, a{
  color: var(--acsentColor);
}

/*isi konten*/

.img-fluid{
  margin-right: 200px;
}

.login{
  color: var(--secondaryColor);
}

.text-start{
  color: #464646;
}
/*end konten*/

@media (max-width: 880px) { 
  .card{
    margin-left: -120px;
    margin-right: 20px;
    width: 360px;
  }
  .row{
    position: center;
  }
 }

